@model IEnumerable<ChamadaWeb.Models.Turma>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Turmas";
}

<div class="container">
    <h2>Turmas</h2>

    <p>
        @Html.ActionLink("Novo", "Create")
    </p>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Turmas
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Data Início
                        </th>
                        <th>
                            Data Fim
                        </th>
                        <th>
                            A&ccedil;&otilde;es
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataFim)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
