@model ChamadaWeb.Models.Pessoa

@{
    ViewBag.Title = "Excluir Pessoa";
}

<div class="container">
    <h2>Excluir Pessoa</h2>

    <h3 class="text-danger">Tem certeza que deseja excluir este registro?</h3>
    <div>
        <h4>Pessoa</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Id
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt>
                Nome
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                RG
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RG)
            </dd>

            <dt>
                Pontua&ccedil;&atilde;o
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pontuacao)
            </dd>

            <dt>
                Professor
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsProfessor)
            </dd>

            <dt>
                Superintendente
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsSuperintendente)
            </dd>

            <dt>
                Data de Altera&ccedil;&atilde;o
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataAlteracao)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Excluir" class="btn btn-default" /> |
                @Html.ActionLink("Voltar", "Index")
            </div>
        }
    </div>
</div>